
.index-page{
    .page-header{
        .brand{
            .input-group {
            .input-group-prepend{
        .btn{ 
            border-radius: 0 5px 5px 0;
            background: #6db3f2;
            background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
            background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
            background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
            
        }
    }
    }}
}
}
.error{color: $danger-color;}


.section-step{
       // background-image: url(../../img/texture-bg.jpeg);
       background-color: $smoke-bg;
        h2{ color: $blue; }
        h4{ color: $primary-color }

       // .bg-primary{}
}


.requirements_slider{
   // background-image: url(../../img/texture-bg.jpeg);
    h3{ color: $blue; text-transform: uppercase; }
    h4{ color: $primary-color }

.requrement_slider_holder{  
   
   
//     background: -moz-linear-gradient(top,  rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
// background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%);
// background: linear-gradient(to bottom,  rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );




.slick-slider{
.slick-slide{
    .base_holder{
        width: 80%;
        .card-img-overlay{
            top: 25%;
            bottom: auto;
            right: -200px;
            left:50%;
            background-color: $blue;
            padding: 25px;
        }
    }
}

}
}
}

.top_most_slider_holder{
    background-color: $smoke-bg;
    a{text-decoration:none ;}
    h3{ color: $blue; text-transform: uppercase; }
    h4{ color: $primary-color }
    .card{
    .card-body{padding: 8px 16px;}
    .card-footer{padding: 8px 16px; margin-top: 0; border-top:1px solid $primary-color ;}
}
}
.slick-prev:before, .slick-next:before{
    color: $blue!important;
}
.is-danger{
    display: block;
    width: 100%;
    color: #F00;
    font-size: 14px;
}
.faq-container {
    // border: 1px solid #888888;
    max-width: 100%;
	padding:0px;
    margin:16px 0;
}
.faq-title {
    padding:8px;
    background-color: #6ec0a5;
    margin: 0px;
    color: #fff;
}
.faq-card {
    padding: 0px;
}
.faq-header{
	border-bottom: 1px solid #888888 !important;
    padding: 10px !important;
    background-color: #eeeeee !important;
}
.faq-btn {
    display: inline;
    float: right;
    margin: 0px 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding-left: 15px
}

.country_visa_form{padding-top: 100px;}